body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

.status {
    text-transform: uppercase;
}

table {
    width: 100%;
}

.right {
    text-align: right;
}
