body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 40px;
    font-weight: 300;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.component {
    margin: 4px;
    padding: 4px;
    background-color: #f5f5f5;
}

.component header {
    margin: 0;
    font-weight: bold;
}

.component .label {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.component .status {
    font-size: 0.5em;
    text-transform: uppercase;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.component .description {
    margin-top: 4px;
    font-size: 0.8em;
}

.component .update-history {
    height: 20px;
    position: relative;
}

.component .update {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
}

.component .uptime {
    float: right;
    font-weight: 300;
    font-size: 0.8em;
    color: #777;
}

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    position: absolute;
    left: 0;
    bottom: 100%;
    white-space: nowrap;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
}
