body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 40px;
    font-weight: 300;
}

body * {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

main > h1 , main > p {
    text-align: center;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.google-visualization-tooltip {
    z-index: 100;
}

.components-container {
    min-height: 1000px;
    display: block;
}

.component-container {
    width: calc(100% - 20px);
    float: left;
    margin: 10px 0 0 10px;
    border: 1px solid #c5adad;
    height: 75px;
    background: #f3f3f3;
    padding: 5px;
}

.component-container .name , .component-container .up-time , .component-container .status {
    height: 20px;
    line-height: 20px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    font-size: .875em;
}

.component-container .name {
    width: 50%;
    font-weight: bold;
}

.component-container .up-time , .component-container .status {
    width: 25%;
}

.component-container .up-time {
    color: #777;
}

.component-container .status {
    text-align: right;
    text-transform: uppercase;
    font-size: .75em;
    color: #11b511;
    font-weight: bold;
}

.component-container .error.status {
    color: #de3232;
}

.component-container .timeline {
    width: 100%;
    height: 40px;
    clear: both;
}

.component-container .timeline div[dir=ltr] {
    overflow: hidden;
}

.component-container:after , .components:after {
    content: '';
    display: block;
    clear: both;
}

@media (min-width: 800px) {
    .component-container {
        width: calc(33.3% - 13px);
    }
}
