{% include 'header.html.jinja' %}
<h1>API</h1>
<hr />
<p>You can access our component status programmatically from <a href="/api/v1/components" target="_blank">/api/v1/components</a>.</p>
{% include 'footer.html.jinja' %}
