{% include 'header.html.jinja' %}

<header class="non-compact">
    <h1>{{ display_settings.title|default('System Status') }}</h1>
    <hr />

    {% for paragraph in display_settings.header_paragraphs %}
    <p>{{ paragraph|safe }}</p>
    {% endfor %}
</header>

{% for group in display_settings.component_groups %}
<div class="component-group" data-tags="{{ group.tags|tojson|forceescape }}">
    <h2>{{ group.title }}</h2>
    <hr />
    <p class="non-compact">{{ group.description|safe }}</p>
    <div class="component-container"></div>
</div>
{% endfor %}

<div id="other-components" class="component-group" style="display: none;">
    <h2>{{ 'Other ' if display_settings.component_groups else '' }}Components</h2>
    <hr />
    <div class="component-container"></div>
</div>

<template id="component-template">
    <div class="component">
        <div class="name"></div>
        <div class="up-time"></div>
        <div class="status"></div>
        <div class="timeline"></div>
    </div>
</template>

<footer class="non-compact">
    <p><small><a href="#compact">Compact View</a></small></p>
</footer>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% include 'footer.html.jinja' %}
