{% include 'header.html.jinja' %}
<h1>Live System Status</h1>
<hr />
<p>This is the public dashboard for the overall health of our systems, intended to increase transparency and awareness when things aren't going well.</p>
<p>If you experience a service issue that isn't being reported here, please <a href="http://support.btlive.tv/customer/portal/emails/new">contact us</a>.</p>

<div id="swarm-servers" style="display: none;">
    <h2>Swarm Servers</h2>
    <hr />
    <p>Each channel has a corresponding swarm server. Streams are routed to these from our ingest points, transcoded, then made available to the peer-to-peer swarm.</p>
    <div class="components"></div>
</div>

<div id="other" style="display: none;">
    <h2>Other Components</h2>
    <hr />
    <div class="components"></div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>
{% include 'footer.html.jinja' %}
